$dark-bg: #333;

@font-face {
  font-family: Amplitude;
  src: url(fonts/Amplitude-Regular.ttf);
}

@font-face {
  font-family: Amplitude;
  src: url(fonts/Amplitude-Bold.ttf);
  font-weight: bold;
}
