@import 'constant';

input[type='text'], input[type='submit'] {
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  text-align: center;
  background: $dark-bg;
  border: none;
  height: 50px;
  color: #fff;
  font-size: 18px;
  border-radius: 7px;
  margin-top: 20px;
}

input[type='text'] {
  padding: 7px 10px;
  border-radius: 7px;
  border-style: solid;
  border-color: #e5e5e5;
}

#login {
  h3 {
    margin: 10px 0 3px 0;
    font-size: 20px;
    font-weight: bold;
  }
}
